*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background:#1f2937;
    color: white;

}
.logo span{
    color:#3b82f6;
}
.logo{
    font-size: 30px;
    font-weight: bold;

}

.nav-links{
    display:flex;

    list-style: none;

    gap:40px;

}
.nav-links li{
    cursor: pointer;
    transition: .3s;
}
.nav-links li:hover{
    color:#3b82f6;
}