.products-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    gap:40px;

    padding:20px 40px 60px;
}


.products-section{
    max-width: 1400px;

    margin: 80px auto;

    padding: 0 30px;
}

.products-title{
    text-align: center;

    font-size: 36px;

    font-weight: 700;

    margin-bottom: 45px;
}