.product-card{
    width: 220px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 16px;

    text-decoration: none;
    color: black;

    transition: 0.3s ease;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.product-card:hover{
    transform: translateY(-8px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product-card-image{
    width: 150px;
    height: 150px;

    object-fit: contain;

    margin-bottom: 15px;
}

.product-name{
    font-size: 22px;
    font-weight: 700;

    text-align: center;

    margin: 10px 0;
}

.product-price{
    font-size: 24px;
    font-weight: bold;

    color: #2563eb;

    margin-bottom: 12px;
}

.product-condition{
    background: #eef2ff;

    color: #2563eb;

    padding: 6px 14px;

    border-radius: 30px;

    font-size: 14px;

    font-weight: 600;

    margin-bottom: 18px;
}

.view-details{
    margin-top: auto;

    color: #2563eb;

    font-weight: 600;
}