body{
    background-color: white;
}
.product-details-container{
    background-color: white;
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.product-details-container h1,h2,h3,strong,p{
    color: black;
}
.product-details-container button{
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: rgb(224, 224, 70);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.product-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-right{
    flex: 2;
}
.product-icon{
    width: 250px;
    height: 250px;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9;
    border-radius: 15px;
}